* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#appTitle{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.filterSelectors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}